@import "../../../utils/variables.scss";

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.plus_button {
    width: 2em;
    height: 2em;
    border-radius: 50%;
    background-color: #eaeaea;
    color: $mainColor;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    font-weight: bold;
    color: $mainColor;

    &:hover {
        background-color: $mainColor;
        color: white;
    }
}

// Адаптивные стили

@media (max-width: 480px) {
    button {
        width: 1.5rem;
        height: 1.5rem;
        font-size: 1rem;
        margin-top: 1.5em;
    }
}