.header {
  display: flex;
  height: 4.375rem;
  padding-top: 1.25rem;
  flex-direction: row;
  color: #000101;
  text-align: center;
  box-shadow: 2px 2px 8px #a8a8a8;
  background-color: rgb(53, 162, 235, 0.3);

  width: 100%;
  align-content: flex-start;
  justify-content: center;
  align-items: center;

  .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;

    .navbar_center {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      width: 70%;
      font-size: 16px;
    }

    .navbar_right {
      display: inline-block;
      font-size: 1.125rem;
      padding: 0.75rem;
      color: black;
      text-decoration: none;
      transition: color 0.3s ease-in-out;

      &:hover {
        color: grey;
      }
    }

  }

  &a:hover {
    color: white;
  }

}

@media (max-width: 768px) {
  .navbar {
    align-items: flex-start;
    text-align: center;
    padding: 1rem;

    .navbar_center {
      margin-bottom: 1rem;
    }
  }
}