* {
  margin: 0;
  font-family: Calibri, sans-serif;
}

.wrapper {
  text-align: center;
  height: 100vh;

  color: #000101;
  background-color: rgb(253, 255, 255);
}

@media (max-width: 768px) {
  .wrapper {
    font-size: 14px;
    padding: 15px;

  }
}
