
.button_add_container {
  display: flex;
  justify-content: center;

  button {
    display: block;
    width: 40%;
    padding: 10px;
    margin-top: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  
    &:hover {
      background-color: #0056b3;
    }
  }
}

.emptyInput {
  color: red;
}

.button_close_container {
  display: flex;
  justify-content: flex-end;
}

.cross_icon {
  color: #fff;
  font-size: 20px;
}

.quintity_container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  input {
    width: 40%;
    padding: 10px;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
}


.notification {
  background-color: green;
  color: white;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  padding: 10px;
  margin-top: 10px;
  border-radius: 3px;
}