@import "../../../utils/variables.scss";

.button_add_container {
  display: flex;
  justify-content: center;

  button {
    display: block;
    width: 40%;

    margin-top: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 3px;
    text-align: center;
    cursor: pointer;
  
    &:hover {
      background-color: #0056b3;
    }
    @media only screen and (max-width: 768px) {

      width: 40%;
    
    }
  }
}

.empty_input {
  color: red;
}

.quantity_container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  input {
    width: 40%;
    padding: 10px;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
}

.notification {
  background-color: green;
  color: white;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  padding: 10px;
  margin-top: 10px;
  border-radius: 3px;
}