.currencyNavbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1.875rem;
  margin: 0 3.125rem;
  font-size: 1.25rem;
  text-decoration: none;
  color: black;
  transition: color 0.3s ease-in-out;

  img{
    width: 1.5rem;
    height: 1.5rem;
  }
}

.currencyNavbar:hover {
  color: #e73919;
}

@media (max-width: 768px) {
  .currencyNavbar {
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;;
    flex-direction: column;
    gap: 0.7rem;
    margin: 0;
    text-align: center;
    font-size: 0.8rem;
  }
}
