
.main-table {
    background-color: #f1f1f1;
    padding: 20px;
    
    table {
      width: 100%;
      border-collapse: collapse;
  
      th, td {
        padding: 10px;
        border: 1px solid #1dcf14;
      }
  
      th {
        background-color: #f62323;
        font-weight: bold;
      }
  
      td {
        background-color: white;
      }
    }
  }