.searchBar {
display: flex;
align-items: center;
justify-content: center;
  .input {
    margin: 1em;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 15%;
    @media (max-width: 768px) {
      width: 100%;
    }
  }
}